.page--Catalog {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

/* CAR */

.page--Car {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.page--Car main {
  max-width: 746px;
  width: 100%;
}

.carInfo aside {
  max-width: 526px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .page--Car {
    flex-direction: column;
  }

  .page--Car main {
    max-width: unset;
  }
}
