.breadcrumbsSection {
  padding-top: 112px;
  margin-bottom: 32px;
}

.breadcrumbs {
  color: #707D89;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 12px;
}

.breadcrumbs__link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #707D89;
  font-size: 14px;
  font-weight: 400;
  transition: all .2s ease-in-out;
}

.breadcrumbs__link:hover {
  color: #1F1A17;
}

.breadcrumbs__link:not(:last-of-type)::after {
  content: url("img/chevron-right.svg");
  display: inline-block;
  pointer-events: none;
}

@media screen and (max-width: 1200px) {
  .breadcrumbsSection {
    visibility: hidden;
  }
}

@media screen and (max-width: 576px) {
  .breadcrumbsSection {
    visibility: hidden;
    margin-bottom: 0;
    padding-top: 80px;
  }
}
